Hi {{ .RecipientName }},

A sign-in to {{ .SiteName }} just occurred on {{ .LoginTime }} from IP {{ .IPAddress }} using {{ .UserAgent }}.

If this was you, no further action is needed. If you don't recognise this activity, secure your account now by resetting your password: {{ .ResetURL }}.

Stay safe,
{{ .SiteName }} security
