Hi {{ .RecipientName }},

This is a confirmation that the password for your {{ .SiteName }} account was changed on {{ .ResetTime }} from IP {{ .IPAddress }}.

If you made this change, you're all set. If you didn't authorise this update, please reset your password immediately: {{ .ResetURL }} and contact support at {{ .SupportEmail }}.

Thank you,
{{ .SiteName }} security
