Hi {{ .RecipientName }},

Before you can start publishing with {{ .SiteName }}, please confirm your email address.

Click the link below to verify:
{{ .VerifyURL }}

This link will expire in {{ .ExpiresIn }}. If you didn't create an account with {{ .SiteName }}, ignore this message.

See you soon,
{{ .SiteName }} team
